## ARM Quantitative Group Task

Authors: Vivien Kühne, Dominik Sidler, Kevin Forsthuber

Delivery Date: 12. January, 23:59

In [1]:
## Libraries
import os
import numpy as np
import pandas as pd
# First and once: pip install mysql-connector
# Then
import mysql.connector 
import re

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/arm_project

## Import Data

In [ ]:
## Import Data
# Read the data to a pandas data frame
df = pd.read_csv('./apartments_data_winterthur.csv', sep=',', encoding='utf-8')

# Show first records of data frame
df.head(5)

## Data Prepeartion

In [ ]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

## What about NA-Values?
# Identify rows with missing values
df[df.isna().any(axis=1)].head()

#Extract and add if necesssary
# Extract values from 'price_raw' strings
price = []
for i in df['price_raw']:
    d1 = re.findall('[0-9]+', i)
    try:
        d2 = d1[0].strip()
    except:
        d2 = None
    price.append(d2)

# Save as new variable in the pandas data frame
df['price'] = pd.Series(price, dtype="Int64")

## Store Data in Data Base

In [2]:
# Create data base
import mysql.connector
from sqlalchemy import create_engine

conn = mysql.connector.connect( host="localhost",
                                user="arm",
                                password="arm",
                                database="db_arm")

# Überprüfen, ob die Verbindung erfolgreich war
if conn.is_connected():
    print("Verbindung erfolgreich hergestellt!")
else:
    print("Verbindung fehlgeschlagen.")

# Create cursor object to execute SQL commands
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS table_tbd (OrderId VARCHAR(50),
                                                               Adress VARCHAR(200),
                                                               Rooms DECIMAL(8,2),
                                                               Area INT(8),
                                                               Price DECIMAL(8,2))''')
# Confirm changes to the table
conn.commit()

df = pd.read_csv('./apartments_data_prepared.csv',
                  sep=',', 
                  encoding='utf-8')[['web-scraper-order', 'address_raw', 'rooms', 'area', 'price']]
# print(df.shape)

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine("mysql+mysqlconnector://arm:arm@localhost/db_arm")

# Convert the Pandas DataFrame to a format for MySQL table insertion
df.to_sql('table_tbd', 
          con = engine, 
          if_exists = 'replace', 
          index = False)

# Query the SQL-table
cursor.execute('''SELECT *
               FROM apartments_table
               WHERE rooms >=1''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['OrderId','Address','Rooms','Area','Price'])    
df

Verbindung erfolgreich hergestellt!

,OrderId,Address,Rooms,Area,Price
0,1693993818-1,"Am Eulachpark 25, 8404 Winterthur, ZH",6.5,143.0,3017.0
1,1693993818-2,"Katharina Sulzer Platz 2, 8400 Winterthur, ZH",1.0,132.0,3260.0
2,1693993818-3,"8400 Winterthur, ZH",4.5,117.0,3782.0
3,1693993818-4,"Untere Briggerstrasse 66, 8406 Winterthur, ZH",3.5,88.0,2244.0
4,1693993818-5,"Wülflingerstrasse 25, 8400 Winterthur, ZH",3.5,80.0,1980.0
...,...,...,...,...,...
114,1693993832-116,"Schiltwiesenweg 24, 8404 Winterthur, ZH",3.0,65.0,1030.0
115,1693993832-117,"Zürcherstrasse 58, 8406 Winterthur, ZH",3.5,100.0,2180.0
116,1693993832-118,"Maienstrasse 8, 8406 Winterthur, ZH",4.5,89.0,1985.0
117,1693993832-119,"Neuwiesenstr. 14, 8400 Winterthur, ZH",1.0,32.0,1005.0
118,1693993832-120,"Steiggasse 3, 8400 Winterthur, ZH",2.5,91.0,2115.0

## Non-graphical and Graphical exploratory data analysis (EDA)

In [ ]:
## EDA
# Integration and visualization of geographical data

## Modeling method(s)

In [ ]:
## Modelling

# Model 1

# Model 2

## Model evaluation

In [ ]:
## each test must include a p-value

# rmse

# r-squared

# ANOVA

# Chi-squared test

# correlation analysis

## results and measures of fit

In [ ]:
# Interpretation of Model Evaluation

### Close DB Connection

In [ ]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(mysql))

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')