## ARM Quantitative Group Task

Authors: Vivien Kühne, Dominik Sidler, Kevin Forsthuber

Delivery Date: 12. January, 23:59

In [1]:
## Libraries
import os
import numpy as np
import pandas as pd
# import sqlite3
# First and once: pip install mysql-connector
# Then
import mysql
import re

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/arm_project

## Import Data

In [2]:
## Import Data
# Read the data to a pandas data frame
df = pd.read_csv('./apartments_data_winterthur.csv', sep=',', encoding='utf-8')

# Show first records of data frame
df.head(5)

,web-scraper-order,web-scraper-start-url,rooms_area_price_raw,address_raw,price_raw,description_raw,text_raw
0,1693993818-1,https://www.immoscout24.ch/de/wohnung/mieten/o...,"6,5 Zimmer, 143 m², CHF 3017.—","Am Eulachpark 25, 8404 Winterthur, ZH",CHF 3017.—,«Sie suchen die spezielle Maisonettewohnung?»,"6,5 Zimmer, 143 m², CHF 3017.—Am Eulachpark 25..."
1,1693993818-2,https://www.immoscout24.ch/de/wohnung/mieten/o...,"1 Zimmer, 132 m², CHF 3260.—","Katharina Sulzer Platz 2, 8400 Winterthur, ZH",CHF 3260.—,«In Loft-iger Höhe MIETEN OHNE KAUTION»,"1 Zimmer, 132 m², CHF 3260.—Katharina Sulzer P..."
2,1693993818-3,https://www.immoscout24.ch/de/wohnung/mieten/o...,"4,5 Zimmer, 117 m², CHF 3782.—","8400 Winterthur, ZH",CHF 3782.—,"«MÖBLIERT, TEMPORÄR: 4½ ZI-WOHNUNG IN WINTERTH...","4,5 Zimmer, 117 m², CHF 3782.—8400 Winterthur,..."
3,1693993818-4,https://www.immoscout24.ch/de/wohnung/mieten/o...,"3,5 Zimmer, 88 m², CHF 2244.—","Untere Briggerstrasse 66, 8406 Winterthur, ZH",CHF 2244.—,«Modernes Leben im EG mit Gartensitzplatz»,"3,5 Zimmer, 88 m², CHF 2244.—Untere Briggerstr..."
4,1693993818-5,https://www.immoscout24.ch/de/wohnung/mieten/o...,"3,5 Zimmer, 80 m², CHF 1980.—","Wülflingerstrasse 25, 8400 Winterthur, ZH",CHF 1980.—,«Schöne 3.5-Zimmerwohnung mit Balkon zu vermie...,"3,5 Zimmer, 80 m², CHF 1980.—Wülflingerstrasse..."

## Data Prepeartion

In [ ]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

## What about NA-Values?
# Identify rows with missing values
df[df.isna().any(axis=1)].head()

#Extract and add if necesssary
# Extract values from 'price_raw' strings
price = []
for i in df['price_raw']:
    d1 = re.findall('[0-9]+', i)
    try:
        d2 = d1[0].strip()
    except:
        d2 = None
    price.append(d2)

# Save as new variable in the pandas data frame
df['price'] = pd.Series(price, dtype="Int64")

## Store Data in Data Base

In [4]:
# Create data base
import mysql.connector
from mysql.connector import errorcode

config = {'user': 'MySQL Codespace', 
          'password': 'arm', 
          'host': '3306'}

conn = mysql.connector.connect(**config)


# Create cursor object to execute SQL commands
cursor = conn.cursor()

# Connect to MySQL Server 
try: 
    conn = mysql.connector.connect(**config) 
    cursor = conn.cursor() 

    # Create a new database 
    cursor.execute("CREATE DATABASE IF NOT EXISTS name_tbd") 
    print("Database created successfully.") 

    # Connect to the new database 
    conn.database = 'name_tbd' 
    
    # Create a new table 
    create_table_query = """ CREATE TABLE IF NOT EXISTS name_tbd ( id INT AUTO_INCREMENT PRIMARY KEY, 
                                                                        name VARCHAR(255) NOT NULL, 
                                                                        location VARCHAR(255) NOT NULL, 
                                                                        price DECIMAL(10, 2) ) """ 
    cursor.execute(create_table_query) 
    print("Table created successfully.") 
except mysql.connector.Error as err: 
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR: 
        print("Something is wrong with your user name or password") 
    elif err.errno == errorcode.ER_BAD_DB_ERROR: 
        print("Database does not exist") 
    else: print(err)
finally: 
    cursor.close() 
    conn.close()

KeyboardInterrupt:

## Non-graphical and Graphical exploratory data analysis (EDA)

In [ ]:
## EDA
# Integration and visualization of geographical data

## Modeling method(s)

In [ ]:
## Modelling

# Model 1

# Model 2

## Model evaluation

In [ ]:
## each test must include a p-value

# rmse

# r-squared

# ANOVA

# Chi-squared test

# correlation analysis

## results and measures of fit

In [ ]:
# Interpretation of Model Evaluation

### Close DB Connection

In [ ]:
# Close db connection (if open)
try:
    if check_conn(conn_mysql):
        conn_mysql.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(conn_mysql))

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')