## ARM Quantitative Group Task

Authors: Vivien Kühne, Dominik Sidler, Kevin Forsthuber

Delivery Date: 12. January, 23:59

In [1]:
## Libraries
import os
import numpy as np
import pandas as pd
# First and once: pip install mysql-connector
# Then
import mysql.connector 
import re

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/arm_project

## Import Data

In [2]:
## Import Data
# Read the data to a pandas data frame
df = pd.read_csv('./ski_pass_data.csv', sep=';', encoding='utf-8')

# Show first records of data frame
df.head(5)

,web-scraper-order,web-scraper-start-url,skiregion_raw,altitude_start_raw,altitude_end_raw,ort_raw,slope_blue_raw,slope_red_raw,slope_black_raw,lift_count_raw,skipassprice_raw,review_raw
0,1732267906-1,https://www.skiresort.ch/skigebiete/schweiz/se...,Reckingen-Gluringen,1333 m,1445 m,NaN,"1,2 km",0 km,0 km,2 Lifte/Bahnen,"SFr. 27,- / ca. € 29,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
1,1732267906-2,https://www.skiresort.ch/skigebiete/schweiz/se...,Ghöch,1000 m,1060 m,NaN,"0,8 km","0,2 km",0 km,2 Lifte/Bahnen,"SFr. 22,- / ca. € 23,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
2,1732267906-3,https://www.skiresort.ch/skigebiete/schweiz/se...,Wasen im Emmental,840 m,910 m,NaN,1 km,0 km,0 km,2 Lifte/Bahnen,"SFr. 22,- / ca. € 23,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
3,1732267906-4,https://www.skiresort.ch/skigebiete/schweiz/se...,Selfranga – Klosters,1186 m,1354 m,NaN,"1,2 km",0 km,0 km,2 Lifte/Bahnen,"SFr. 30,- / ca. € 32,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
4,1732267906-5,https://www.skiresort.ch/skigebiete/schweiz/se...,Basse Ruche,1087 m,1125 m,NaN,1 km,0 km,0 km,2 Lifte/Bahnen,"SFr. 20,- / ca. € 21,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."

## Data Prepeartion

In [ ]:
# Split the skipassprice_raw column into two columns for CHF and Euro
df[['price_day_pass_chf', 'price_day_pass_euro']] = df['skipassprice_raw'].str.split('/', expand=True)

# Split skiregion_raw
df[['skiregion1', 'skiregion2']] = df['skiregion_raw'].str.split('–', expand=True)

# Delete text within (...) in skiregion1 and skiregion2
df['skiregion1'] = df['skiregion1'].str.replace(r"\(.*?\)", "", regex=True).str.strip()
df['skiregion2'] = df['skiregion2'].str.replace(r"\(.*?\)", "", regex=True).str.strip()

# Keep only the first part before the slash in skiregion1 and skiregion2
df['skiregion1'] = df['skiregion1'].str.split('/').str[0].str.strip()
df['skiregion2'] = df['skiregion2'].str.split('/').str[0].str.strip()

# Extract numbers from text
def extract_numbers(text):
    if pd.isna(text):
        return 0.0
    # Substitute comma with dot for floating point numbers
    text = text.replace(',', '.')
    # Find all int and float numbers in the text
    numbers = re.findall(r'\d+\.\d+|\d+', text)
    return float(numbers[0]) if numbers else 0.0

# Extract Reviews
def extract_rating(text):
    # Substitute comma with dot for floating point numbers
    text = text.replace(',', '.')
    # Find review with format x.x
    match = re.search(r'(\d+\.\d+) von \d+ Sternen', text)
    return float(match.group(1)) if match else np.nan

# Add new columns
df['length_blue_slope'] = df['slope_blue_raw'].apply(extract_numbers)
df['length_red_slope'] = df['slope_red_raw'].apply(extract_numbers)
df['length_black_slope'] = df['slope_black_raw'].apply(extract_numbers)
df['altitude_start'] = df['altitude_start_raw'].apply(extract_numbers).astype(int)
df['altitude_end'] = df['altitude_end_raw'].apply(extract_numbers).astype(int)
df['number_of_ski_lifts'] = df['lift_count_raw'].apply(extract_numbers).astype(int)
df['price_day_pass_chf'] = df['price_day_pass_chf'].apply(extract_numbers).replace(0.0, np.nan)
df['price_day_pass_euro'] = df['price_day_pass_euro'].apply(extract_numbers).replace(0.0, np.nan)
df['rating'] = df['review_raw'].apply(extract_rating).apply(str)
df['length_total_slope'] = df[['length_blue_slope', 'length_red_slope', 'length_black_slope']].sum(axis=1).round(1)
df['altitude_difference'] = df['altitude_end'] - df['altitude_start']

# Adjust Price in Euro or CHF when missing in either one of them
df['price_day_pass_chf'] = df['price_day_pass_chf'].fillna(df['price_day_pass_euro'] * 0.93).round(2) # exchange rate per 23.11.24
df['price_day_pass_euro'] = df['price_day_pass_euro'].fillna(df['price_day_pass_chf'] * 1.07).round(2) # exchange rate per 23.11.24

# Select columns
df_skipass = df[['skiregion1', 'skiregion2', 'length_total_slope', 'length_blue_slope', 'length_red_slope', 'length_black_slope', 
                 'altitude_start', 'altitude_end', 'altitude_difference', 'number_of_ski_lifts', 'price_day_pass_chf', 'price_day_pass_euro', 'rating']]

# Show data frame
df_skipass

"""df_skipass.to_csv('./ski_pass.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)"""

### Location for ski area

## Store Data in Data Base

In [2]:
# Create data base
import mysql.connector
from sqlalchemy import create_engine

conn = mysql.connector.connect( host="localhost",
                                user="arm",
                                password="arm",
                                database="db_arm")

# Überprüfen, ob die Verbindung erfolgreich war
if conn.is_connected():
    print("Verbindung erfolgreich hergestellt!")
else:
    print("Verbindung fehlgeschlagen.")

# Create cursor object to execute SQL commands
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS table_tbd (OrderId VARCHAR(50),
                                                               Adress VARCHAR(200),
                                                               Rooms DECIMAL(8,2),
                                                               Area INT(8),
                                                               Price DECIMAL(8,2))''')
# Confirm changes to the table
conn.commit()

df = pd.read_csv('./apartments_data_prepared.csv',
                  sep=',', 
                  encoding='utf-8')[['web-scraper-order', 'address_raw', 'rooms', 'area', 'price']]
# print(df.shape)

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine("mysql+mysqlconnector://arm:arm@localhost/db_arm")

# Convert the Pandas DataFrame to a format for MySQL table insertion
df.to_sql('table_tbd', 
          con = engine, 
          if_exists = 'replace', 
          index = False)

# Query the SQL-table
cursor.execute('''SELECT *
               FROM apartments_table
               WHERE rooms >=1''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['OrderId','Address','Rooms','Area','Price'])    
df

Verbindung erfolgreich hergestellt!

,OrderId,Address,Rooms,Area,Price
0,1693993818-1,"Am Eulachpark 25, 8404 Winterthur, ZH",6.5,143.0,3017.0
1,1693993818-2,"Katharina Sulzer Platz 2, 8400 Winterthur, ZH",1.0,132.0,3260.0
2,1693993818-3,"8400 Winterthur, ZH",4.5,117.0,3782.0
3,1693993818-4,"Untere Briggerstrasse 66, 8406 Winterthur, ZH",3.5,88.0,2244.0
4,1693993818-5,"Wülflingerstrasse 25, 8400 Winterthur, ZH",3.5,80.0,1980.0
...,...,...,...,...,...
114,1693993832-116,"Schiltwiesenweg 24, 8404 Winterthur, ZH",3.0,65.0,1030.0
115,1693993832-117,"Zürcherstrasse 58, 8406 Winterthur, ZH",3.5,100.0,2180.0
116,1693993832-118,"Maienstrasse 8, 8406 Winterthur, ZH",4.5,89.0,1985.0
117,1693993832-119,"Neuwiesenstr. 14, 8400 Winterthur, ZH",1.0,32.0,1005.0
118,1693993832-120,"Steiggasse 3, 8400 Winterthur, ZH",2.5,91.0,2115.0

## Non-graphical and Graphical exploratory data analysis (EDA)

In [ ]:
## EDA
# Integration and visualization of geographical data

## Modeling method(s)

In [ ]:
## Modelling

# Model 1

# Model 2

## Model evaluation

In [ ]:
## each test must include a p-value

# rmse

# r-squared

# ANOVA

# Chi-squared test

# correlation analysis

## results and measures of fit

In [ ]:
# Interpretation of Model Evaluation

### Close DB Connection

In [ ]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(mysql))

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')