## ARM Quantitative Group Task

Authors: Vivien Kühne, Dominik Sidler, Kevin Forsthuber

Delivery Date: 12. January, 23:59

In [1]:
## Libraries
import os
import numpy as np
import pandas as pd
# First and once: pip install mysql-connector
# Then
import mysql.connector 
import re

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/arm_project

## Import Data

In [ ]:
## Import Data
# Read the data to a pandas data frame
df = pd.read_csv('./ski_pass_data.csv', sep=';', encoding='utf-8')

# Show first records of data frame
df.head(5)

,web-scraper-order,web-scraper-start-url,skiregion_raw,altitude_start_raw,altitude_end_raw,ort_raw,slope_blue_raw,slope_red_raw,slope_black_raw,lift_count_raw,skipassprice_raw,review_raw
0,1732267906-1,https://www.skiresort.ch/skigebiete/schweiz/se...,Reckingen-Gluringen,1333 m,1445 m,NaN,"1,2 km",0 km,0 km,2 Lifte/Bahnen,"SFr. 27,- / ca. € 29,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
1,1732267906-2,https://www.skiresort.ch/skigebiete/schweiz/se...,Ghöch,1000 m,1060 m,NaN,"0,8 km","0,2 km",0 km,2 Lifte/Bahnen,"SFr. 22,- / ca. € 23,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
2,1732267906-3,https://www.skiresort.ch/skigebiete/schweiz/se...,Wasen im Emmental,840 m,910 m,NaN,1 km,0 km,0 km,2 Lifte/Bahnen,"SFr. 22,- / ca. € 23,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
3,1732267906-4,https://www.skiresort.ch/skigebiete/schweiz/se...,Selfranga – Klosters,1186 m,1354 m,NaN,"1,2 km",0 km,0 km,2 Lifte/Bahnen,"SFr. 30,- / ca. € 32,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."
4,1732267906-5,https://www.skiresort.ch/skigebiete/schweiz/se...,Basse Ruche,1087 m,1125 m,NaN,1 km,0 km,0 km,2 Lifte/Bahnen,"SFr. 20,- / ca. € 21,-","[{""review_raw"":"""",""review_raw-title"":""2,1 von ..."

## Data Prepeartion

In [9]:
# Get data types (note that in pandas, a string is referred to as 'object')
# df.dtypes


## What about NA-Values?
# Identify rows with missing values
# df[df.isna().any(axis=1)].head()

## Extract and add 
df[['price_day_pass_chf', 'price_day_pass_euro']] = df['skipassprice_raw'].str.split('/', expand=True)

# Funktion zum Extrahieren von Zahlen aus einem String
def extract_numbers(text):
    if pd.isna(text):
        return 0.0
    # Ersetze Komma durch Punkt für Fließkommazahlen
    text = text.replace(',', '.')
    # Finde alle Ganzzahlen und Fließkommazahlen
    numbers = re.findall(r'\d+\.\d+|\d+', text)
    return float(numbers[0]) if numbers else 0.0

# Funktion zum Extrahieren der Bewertung
def extract_rating(text):
    # Ersetze Komma durch Punkt für Fließkommazahlen
    text = text.replace(',', '.')
    # Finde die Bewertung im Format x.x
    match = re.search(r'(\d+\.\d+) von \d+ Sternen', text)
    return float(match.group(1)) if match else np.nan

# Neue Spalten hinzufügen
df['length_blue_slope'] = df['slope_blue_raw'].apply(extract_numbers)
df['length_red_slope'] = df['slope_red_raw'].apply(extract_numbers)
df['length_black_slope'] = df['slope_black_raw'].apply(extract_numbers)
df['altitude_start'] = df['altitude_start_raw'].apply(extract_numbers).astype(int)
df['altitude_end'] = df['altitude_end_raw'].apply(extract_numbers).astype(int)
df['number_of_ski_lifts'] = df['lift_count_raw'].apply(extract_numbers).astype(int)
df['price_day_pass_chf'] = df['price_day_pass_chf'].apply(extract_numbers)
df['price_day_pass_euro'] = df['price_day_pass_euro'].apply(extract_numbers)
df['rating'] = df['review_raw'].apply(extract_rating)

print(df)

    web-scraper-order                              web-scraper-start-url  \
0        1732267906-1  https://www.skiresort.ch/skigebiete/schweiz/se...
1        1732267906-2  https://www.skiresort.ch/skigebiete/schweiz/se...
2        1732267906-3  https://www.skiresort.ch/skigebiete/schweiz/se...
3        1732267906-4  https://www.skiresort.ch/skigebiete/schweiz/se...
4        1732267906-5  https://www.skiresort.ch/skigebiete/schweiz/se...
..                ...                                                ...
346    1732267909-347    https://www.skiresort.ch/skigebiete/schweiz/?pn
347    1732267909-348    https://www.skiresort.ch/skigebiete/schweiz/?pn
348    1732267909-349    https://www.skiresort.ch/skigebiete/schweiz/?pn
349    1732267909-350    https://www.skiresort.ch/skigebiete/schweiz/?pn
350    1732267909-351    https://www.skiresort.ch/skigebiete/schweiz/?pn

                                         skiregion_raw altitude_start_raw  \
0                                  Reckingen-Gluringen             1333 m
1                                                Ghöch             1000 m
2                                    Wasen im Emmental              840 m
3                                 Selfranga – Klosters             1186 m
4                                          Basse Ruche             1087 m
..                                                 ...                ...
346                         Rinerhorn (Davos Klosters)             1459 m
347                                            Grächen             1619 m
348                                             Anzère             1516 m
349  Chäserrugg – Unterwasser/​Alt St. Johann (Togg...              900 m
350                          Bürchen/​Törbel – Moosalp             1476 m

    altitude_end_raw ort_raw slope_blue_raw slope_red_raw slope_black_raw  \
0             1445 m     NaN         1,2 km          0 km            0 km
1             1060 m     NaN         0,8 km        0,2 km            0 km
2              910 m     NaN           1 km          0 km            0 km
3             1354 m     NaN         1,2 km          0 km            0 km
4             1125 m     NaN           1 km          0 km            0 km
..               ...     ...            ...           ...             ...
346           2490 m     NaN        15,6 km       23,1 km         12,8 km
347           2864 m     NaN           9 km         33 km            2 km
348           2420 m     NaN          12 km         37 km            9 km
349           2262 m     NaN           8 km         40 km            2 km
350           2532 m     NaN          10 km         10 km            5 km

      lift_count_raw  ...                                         review_raw  \
0     2 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"2,1 von ...
1     2 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"2,1 von ...
2     2 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"2,1 von ...
3     2 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"2,1 von ...
4     2 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"2,1 von ...
..               ...  ...                                                ...
346   7 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"3,5 von ...
347  11 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"3,4 von ...
348  13 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"3,4 von ...
349  12 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"3,3 von ...
350   8 Lifte/Bahnen  ...  [{"review_raw":"","review_raw-title":"3,3 von ...

    price_day_pass_chf  price_day_pass_euro  length_blue_slope  \
0                 27.0                 29.0                1.2
1                 22.0                 23.0                0.8
2                 22.0                 23.0                1.0
3                 30.0                 32.0                1.2
4                 20.0                 21.0                1.0
..                 ...                  ...                ...
346               66.0                 70.0               15.6
347               69.0                 74.0                9.0
348               65.0                 69.0               12.0
349               52.0                 56.0                8.0
350               49.0                 52.0               10.0

     length_red_slope  length_black_slope  altitude_start  altitude_end  \
0                 0.0                 0.0            1333          1445
1                 0.2                 0.0            1000          1060
2                 0.0                 0.0             840           910
3                 0.0                 0.0            1186          1354
4                 0.0                 0.0            1087          1125
..                ...                 ...             ...           ...
346              23.1                12.8            1459          2490
347              33.0                 2.0            1619          2864
348              37.0                 9.0            1516          2420
349              40.0                 2.0             900          2262
350              10.0                 5.0            1476          2532

     number_of_ski_lifts  rating
0                      2     2.1
1                      2     2.1
2                      2     2.1
3                      2     2.1
4                      2     2.1
..                   ...     ...
346                    7     3.5
347                   11     3.4
348                   13     3.4
349                   12     3.3
350                    8     3.3

[351 rows x 21 columns]

## Store Data in Data Base

In [2]:
# Create data base
import mysql.connector
from sqlalchemy import create_engine

conn = mysql.connector.connect( host="localhost",
                                user="arm",
                                password="arm",
                                database="db_arm")

# Überprüfen, ob die Verbindung erfolgreich war
if conn.is_connected():
    print("Verbindung erfolgreich hergestellt!")
else:
    print("Verbindung fehlgeschlagen.")

# Create cursor object to execute SQL commands
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS table_tbd (OrderId VARCHAR(50),
                                                               Adress VARCHAR(200),
                                                               Rooms DECIMAL(8,2),
                                                               Area INT(8),
                                                               Price DECIMAL(8,2))''')
# Confirm changes to the table
conn.commit()

df = pd.read_csv('./apartments_data_prepared.csv',
                  sep=',', 
                  encoding='utf-8')[['web-scraper-order', 'address_raw', 'rooms', 'area', 'price']]
# print(df.shape)

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine("mysql+mysqlconnector://arm:arm@localhost/db_arm")

# Convert the Pandas DataFrame to a format for MySQL table insertion
df.to_sql('table_tbd', 
          con = engine, 
          if_exists = 'replace', 
          index = False)

# Query the SQL-table
cursor.execute('''SELECT *
               FROM apartments_table
               WHERE rooms >=1''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['OrderId','Address','Rooms','Area','Price'])    
df

Verbindung erfolgreich hergestellt!

,OrderId,Address,Rooms,Area,Price
0,1693993818-1,"Am Eulachpark 25, 8404 Winterthur, ZH",6.5,143.0,3017.0
1,1693993818-2,"Katharina Sulzer Platz 2, 8400 Winterthur, ZH",1.0,132.0,3260.0
2,1693993818-3,"8400 Winterthur, ZH",4.5,117.0,3782.0
3,1693993818-4,"Untere Briggerstrasse 66, 8406 Winterthur, ZH",3.5,88.0,2244.0
4,1693993818-5,"Wülflingerstrasse 25, 8400 Winterthur, ZH",3.5,80.0,1980.0
...,...,...,...,...,...
114,1693993832-116,"Schiltwiesenweg 24, 8404 Winterthur, ZH",3.0,65.0,1030.0
115,1693993832-117,"Zürcherstrasse 58, 8406 Winterthur, ZH",3.5,100.0,2180.0
116,1693993832-118,"Maienstrasse 8, 8406 Winterthur, ZH",4.5,89.0,1985.0
117,1693993832-119,"Neuwiesenstr. 14, 8400 Winterthur, ZH",1.0,32.0,1005.0
118,1693993832-120,"Steiggasse 3, 8400 Winterthur, ZH",2.5,91.0,2115.0

## Non-graphical and Graphical exploratory data analysis (EDA)

In [ ]:
## EDA
# Integration and visualization of geographical data

## Modeling method(s)

In [ ]:
## Modelling

# Model 1

# Model 2

## Model evaluation

In [ ]:
## each test must include a p-value

# rmse

# r-squared

# ANOVA

# Chi-squared test

# correlation analysis

## results and measures of fit

In [ ]:
# Interpretation of Model Evaluation

### Close DB Connection

In [ ]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(mysql))

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')